@model _21_NotebookDb.Models.LoginModel
@{
    ViewData["Title"] = "Login";

}

<div>
    <form method="post" asp-controller="Authenticate" asp-action="Logout">
        <input type="submit" value="Logout" />
    </form>

    <a asp-controller="Authenticate" asp-action="Login">Login</a>
    <a asp-controller="Authenticate" asp-action="Register">Register</a>

</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 well">
            <h3 class="text-center">Вход</h3>

            

            <form asp-action="Login" asp-route-returnurl="@ViewBag.ReturnUrl" asp-controller="Authenticate" method="post" id="login-form" role="form">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
@*
                <div class="form-group">
                    <input type="hidden" asp-for="ReturnUrl" />
                </div>
*@
                <div class="form-group">
                    <div class="col-xs-12">
                        <input asp-for="Username" class="form-control" placeholder="Логин" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12">
                        <input asp-for="Password" class="form-control" placeholder="Пароль" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="text-center col-xs-12">
                        <button type="submit" class="btn btn-default">Войти</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>